# autotools
*.in
*.la
*.lo
*.o
*.a
.deps
.libs
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
*.log
stamp-h1
*.tar.gz
*.conf
INSTALL
*-test

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# qtcreator

libutils.config
libutils.creator
libutils.creator.user
libutils.files
libutils.includes

# emacs
*~
*.autosave